@tailwind base;
@tailwind components;
@tailwind utilities;

/* .parallax{
    background-image: url(../../public/images/terreno.svg);
    background-repeat: no-repeat;
    background-position: bottom;
} */